@import "./assets/styles/variables";
@import "./assets/styles/mixins";
.layout {
  display: flex;
  height:calc(100vh - $header-height); 
  overflow: hidden; 
}
.outlet {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - $header-height);
  overflow-y: auto; 
}
.outlet {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
