@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 60px;
  width: 100%;
  background: linear-gradient(
    to right,
    $primary-color,
    darken($primary-color, 25%)
  );
  color: $text-primary;
  box-shadow: $box-shadow-light;
  padding: 0 $spacing-medium;
  border-bottom: 2px solid $border-color;

  &__nav-menu-item {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color $transition;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
      border: 2px solid transparent;
      border-image: linear-gradient(to right, #a928ff, $secondary-color) 1;
      color: white;
    }
  }
}
