$primary-color: #6200ea;
$secondary-color: #03dac6;
$background-color: #f5f5f5;
$text-color: #212121;
$error-color:rgb(192, 22, 22);
$sidebar-color:#ac95b9;
$border-color:#c5c5c5;
$header-height: 60px;
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 2px 0 5px rgba(0, 0, 0, 0.1);

$border-radius: 8px;
$padding: 16px;
$transition: 0.3s ease-in-out;